/* ==========================================================================
   Variables and color scheme
   ========================================================================== */


$gold: #DFBA69;
$light-yellow: #FFFEDF;
$dark-red: #b37575;
$dark-gray: #333;
$gray: #ccc;
$cyan: #00bcd4;
$dark-purple: #5f4d93;
$dark-cyan: #75b3ab;
$dark-blue: #1565C0;
$brown: #5D4037;
$successBG: #DCEDC8;
$successColor: #689F38;
$dangerBG: #F8BBD0;
$dangerColor: #C2185B;


// fonts
$font-stack : 'Roboto', Helvetica Neue, Arial, sans-serif;